*{
    box-sizing: border-box;
    margin: 0;
}

.text-center{
    color: #3a4466;
}
body{
     font-family: sans-serif;
     background-image: linear-gradient(rgba(77, 88, 124, 0.75) ,  rgba(5,7,12,0.75)  ), url(../img/fondo_oficina.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
 }

.container_login{
    background-color: #cfdaff;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32em;
    position: relative;
    top: -20em;
     border-radius: 1em;
    text-align: center;
    padding: 1.5em;
 }

input{
  padding: 0.3em 1em;
}

.form-group{
    width: 45%;
     padding: 1em 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
 
.btn_ingresar{
    background-color: rgb(206, 209, 206);
    padding: 1em 1.5em;
    cursor: pointer;
    margin-right: 1em;
    border: none;
    color: #3a4466;
}

.btn_cancelar{
    padding: 0.7em 1.5em;
    text-decoration: none;
    background-color: rgb(206, 209, 206);
    color: #3a4466;
}

.alert-message{
    background-color: rgba(255, 34, 34, 0.5);
    width: 76%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
}
